<div id="admin">
  <div class="admin-inner">

    <!-- sidebar -->
    {{> _sidebar}}
    <!-- end of sidebar -->

    <!-- cards -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-3 mt-md-3 ">
              <div class="col-xl-3 col-sm-6 p-2">
                <div class="card card-style">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-users fa-3x text-success"></i>
                      <div class="text-right text-secondary">
                        <h5>Registered Users</h5>
                        <h3>{{userCount}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Refresh to Update</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 p-2">
                <div class="card card-style">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-puzzle-piece fa-3x text-danger"></i>
                      <div class="text-right text-secondary">
                        <h5>Factors</h5>
                        <h3>{{factorCount}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Refresh to Update</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 p-2">
                <div class="card card-style">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-question fa-3x text-info"></i>
                      <div class="text-right text-secondary">
                        <h5>Questions</h5>
                        <h3>{{questionCount}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Refresh to Update</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 p-2">
                <div class="card card-style">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-chart-line fa-3x text-warning"></i>
                      <div class="text-right text-secondary">
                        <h5>Results</h5>
                        <h3>{{resultCount}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Refresh to Update</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 p-2">
                <div class="card card-style">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <i class="fas fa-chess-knight fa-3x text-secondary"></i>
                      <div class="text-right text-secondary">
                        <h5>UTech Students</h5>
                        <h3>{{utechCount}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-secondary">
                    <i class="fas fa-sync mr-3"></i>
                    <span>Refresh to Update</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of cards -->

    <!-- charts -->
    <section>
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row align-items-center">
              <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                <h3 class="text-muted text-center mb-3">Users by Age</h3>
                <canvas id="ageChart"></canvas>
              </div>
              <div class="col-xl-6 col-12">
                <h3 class="text-muted text-center mb-3">Users by Residence</h3>
                <canvas id="residenceChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of charts -->


  </div>
</div>

<!-- chart data -->
<script>
  var ctx = document.getElementById("ageChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{{ age }}},
  datasets: [{
    data: {{{ ageCount }}},
    lineTension: 0,
    backgroundColor: '#007bff',
    borderColor: '#007bff',
    borderWidth: 4,
    pointBackgroundColor: '#007bff'
      }]
    },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false,
      }
  }
  });
</script>

<script>
  var ctx = document.getElementById("residenceChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{{ residence }}},
  datasets: [{
    data: {{{ residenceCount }}},
    lineTension: 0,
    backgroundColor: '#007bff',
    borderColor: '#007bff',
    borderWidth: 4,
    pointBackgroundColor: '#007bff'
      }]
    },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false,
      }
  }
  });
</script>
<!-- end of chart data-->

{{> _footer}}