<div id="admin">
  <div class="admin-inner">
    {{> _sidebar}}
    <!-- cards -->
    <!-- table -->
    <section>
      <div class="container-fluid">
        <div class="row my-sm-3">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row">
              <div class="col-12">
                <form method="GET" action="/admin/users/1" class="form-inline my-2">
                  <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search by lastname..."
                    aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <table class="table table-striped bg-light text-muted text-center">
                  <thead>
                    <tr class="text-muted">
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each users}}
                    <tr>
                      <td>{{firstname}}</td>
                      <td>{{lastname}}</td>
                      <td>{{email}}</td>
                      <td><a href="/admin/results/view/{{_id}}" class="btn btn-block btn-sm btn-success">View Results</a></td>
                    </tr>   
                    {{/each}}
                  </tbody>
                </table>
                <!-- end of table -->

                <!-- pagination -->
                <nav>
                  <ul class="pagination justify-content-center">
                    {{#if query}}
                    <li class="page-item">
                      <a href="/admin/results/{{dec current}}?search={{query}}" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    {{#each pages}}
                    <li class="page-item {{#areEqual this ../current}}active{{/areEqual}}">
                      <a href="/admin/results/{{this}}?search={{../query}}" class="page-link py-2 px-3">
                        {{this}}
                      </a>
                    </li>
                    {{/each}}
                    <li class="page-item">
                      <a href="/admin/results/{{inc current}}?search={{query}}" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a href="/admin/results/{{dec current}}" class="page-link py-2 px-3">
                        <span>&laquo;</span>
                      </a>
                    </li>
                    {{#each pages}}
                    <li class="page-item {{#areEqual this ../current }} active{{/areEqual}}">
                      <a href="/admin/results/{{this}}" class="page-link py-2 px-3">
                        {{this}}
                      </a>
                    </li>
                    {{/each}}
                    <li class="page-item">
                      <a href="/admin/results/{{inc current}}" class="page-link py-2 px-3">
                        <span>&raquo;</span>
                      </a>
                    </li>
                    {{/if}}
                  </ul>
                </nav>
                <!-- end of pagination -->
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>

