 <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light p-0" id="admin-sidebar">
      <div class="contianer">
        <button class="navbar-toggler mr-auto mt-3 mb-2 ml-2 bg-light" type="button" data-toggle="collapse" data-target="#sidebarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="sidebarNav">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar">
              <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="/admin/dashboard" class="nav-link text-white p-2 mb-2 {{#if dashboard}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                <li class="nav-item"><a href="/admin/users/1" class="nav-link text-white p-2 mb-2 {{#if usersActive}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-users text-light fa-lg mr-3"></i>Users</a></li>
                <li class="nav-item"><a href="/admin/factors/1" class="nav-link text-white p-2 mb-2 {{#if factorsActive}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-puzzle-piece text-light fa-lg mr-3"></i>Factors</a></li>
                <li class="nav-item"><a href="/admin/questions/1" class="nav-link text-white p-2 mb-2 {{#if questionsActive}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-question text-light fa-lg mr-3"></i>Questions</a></li>
                <li class="nav-item"><a href="/admin/preview" class="nav-link text-white p-2 mb-2 {{#if preview}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-search text-light fa-lg mr-3"></i>Preview</a></li>
                <li class="nav-item"><a href="/admin/results" class="nav-link text-white p-2 mb-2 {{#if results}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-chart-line text-light fa-lg mr-3"></i>Results</a></li>
                <li class="nav-item"><a href="/admin/settings" class="nav-link text-white p-2 mb-2 {{#if setting}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                <li class="nav-item"><a href="/admin/documentation" class="nav-link text-white p-2 mb-2 {{#if documentation}} current {{else}} sidebar-link{{/if}}"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
              </ul>
            </div>
            <!-- end of sidebar -->
          </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->